@keyframes scrollFromBottomAnimationLess {
  0% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
  }
}

.scroll-animation-less {
  animation: scrollFromBottomAnimationLess 0.5s !important;
}

.transition-height {
  transition: max-height 3s;
}

.transition-cubic {
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.transition-cubic-show {
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
