.testimonial-slider .swiper-pagination-bullet {
  transition: all 0.5s ease !important;
  border: 1px solid #0d0d0d;
  background-color: transparent;
  opacity: 1;
}
.testimonial-slider .swiper-pagination-bullet-active {
  border: 1px solid #0d0d0d;
  background-color: #0d0d0d;
}
